<form>
    <div id="responsive-form" class="clearfix">
        <h1>Candidate information</h1>
        <div class="col-half">
            <div class="gender">
                <label><input type="radio" ng-model="candidate.gender" value="male">Male</label>
                <label><input type="radio" ng-model="candidate.gender" value="female">Female</label>
            </div>
        </div>
        <div class="col-half">
            <input placeholder="Number" type="number" ng-model="candidate.number" required="">
        </div>
        <div class="col-half">
            <input placeholder="Location" type="text" required="">
        </div>
        <div class="col-half">
            <input placeholder="Disorder" type="text" required="">
        </div>
        <div class="col-half">
            <input placeholder="Age" type="number" required="">
        </div>
        <div class="col-half">
            <input placeholder="Type" type="text" required="">
        </div>
        <div class="col-half">

        </div>
        <div class="col-half">
            <button ng-click="save()">Save</button>
        </div>
    </div>
    </div>
</form>