<form>
    <div id="responsive-form" class="clearfix">
        <h1>Story title {{story.id}}</h1>
        <div class="text clearfix">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </div>
        <div ng-show="showAnswers" class="answers-container">
            <ul class="answers">
                <li class="answer"><label><input type="radio" ng-model="story.answer" value="1">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label></li>
                <li class="answer"><label><input type="radio" ng-model="story.answer" value="2">Sed do eiusmod tempor incididunt ut labore et</label></li>
                <li class="answer"><label><input type="radio" ng-model="story.answer" value="3">Ut enim ad minim veniam, quis nostrud exercitation ullamo</label></li>
                <li class="answer"><label><input type="radio" ng-model="story.answer" value="4">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit</label></li>
            </ul>
        </div>

            <button ng-show="!showAnswers" ng-click="start()" class="text-button">Start</button>


            <button ng-show="showAnswers" ng-click="answer()" class="text-button">Answer</button>
        </div>
    </div>
</form>